* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $dark-grey;
}

.icon {
    margin: 5px;
}

.wowhead-tooltip table td {
    color: white;
}

.enchant {
    padding-bottom: 5px;
    &.all-clear {
        border-bottom: 3px solid green;
    }
    &.issue {
        border-bottom: 3px solid red;
    }
}
