
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import '_bootstrap';
@import 'variables';
@import 'base';
@import '_partials/footer';

a.btn { text-decoration: none; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.class-icon-small {
    height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #444;
}

.import-guild-members-list {
    overflow-y: scroll;
    max-height: 300px;
    td {
      vertical-align: middle;
    }
}
